html,
body {
  min-height: 100%;
  height: 100%;
}

.layout {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.banner-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(35,20px);
    grid-row-gap: 20px;
    border: 1px solid black;
    background-color: #757E7A;
    color: white;
}

.triangle {
    border-top: 1px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    width: 0;
    height: 0;
}

.triangle_is-inverted {
    transform: rotate(180deg);
}

.triangle_glimmer {
    animation-duration: 2s;
    animation-name: glimmer;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.triangle_glimmer-delayed {
    animation-delay: 2s;
}

@keyframes glimmer {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 0%;
    }
  }